* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", serif;
}

main {
   position: relative;
   margin-top: 102px; 
}

.wrapper {
    max-width: 100%;
    width: 100%;
    padding: 2px 15px 0 15px;
    margin: 0 auto;
}

.flex-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
    border: none;

}

img {
    max-width: 100%;
    height: auto;
}


/* .wrapper-cart {
    max-width: 420px;
    width: 100%;
    padding: 0 5px;
    margin: 0 auto;
} */

.flex {
    display: flex;
    align-items: center;
}

.container-grid {
    display: grid;
    grid-template-columns: 440px 1fr ;
    gap: 15px;
}



