
.createApplication {
    
    & .container {

        display: grid;
        grid-template-columns: 440px 1fr 2fr;
        gap: 15px;

        &>article {

            grid-column: span 2;

            &>.addApplication {

                margin: 0 auto;
                padding: 10px 40px;
                border-radius: 15px;
                border: 2px solid #a38551;
                background-color: #fff;

                &>img {
                    width: 36px;
                    height: auto;
                    margin-right: 10px;
                }

                &>h1 {
                    font-size: 24px;
                }

                &:hover>img {
                    color: #fff;
                }
            }
        }
    }
}