
.aboutProject {
    width: 100%;

    

    & img {
        margin-right: 50px;
        height: 600px;
    }


    &>aside{
        margin-bottom: 20px;
    }
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
}

p {
    font-size: 20px;
    margin-bottom: 15px;
}