<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Обробник для запуску app.js через IISNode -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>

    <!-- Правило переписування: всі запити направляються на app.js -->
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="(.*)" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Логування для iisnode -->
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>
